node_modules/
__pycache__/
*.log
.env
.DS_Store
dist/
build/
.vscode/
.idea/

*.mp4
*.mov
*.avi
*.wmv
*.mkv
*.zip
*.tar
*.gz
*.rar
*.7z
*.iso
*.pdb
*.so
*.apk
*.aab
*.ipa
*.exe
*.dll
*.obj
*.o
*.lib
*.a
